{% extends 'base.html.twig' %}

{% block importmap %}
    {{ parent() }}
    {{ importmap('controllers/home') }}
{% endblock %}

{% block main %}
<main>
    {% for i in 1..3 %}
        {% include "partials/products/_card_shop.html.twig" %}
    {% endfor %}
</main>
{% endblock %}
