<footer>
    <h2>Stubborn en quelques mots</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eligendi debitis iusto ea, enim non mollitia, perspiciatis ullam nulla temporibus rerum vero provident velit consectetur facere ipsam in, asperiores maxime?</p>
</footer>