<header>
    <div>
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo de la société Stubborn">
        </a>
        <p>Don't compromise on your look</p>
    </div>
    <nav>
        <ul>
            <li><a class="home" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="shop" href="#">Boutique</a></li>
            <li><a class="cart" href="#">Panier</a></li>
            <li><a class="registration" href="{{ path('app_register') }}">S'inscrire</a></li>
            <li><a class="login" href="#">Se connecter</a></li>
            <li><a class="admin" href="#">Back-Office</a></li>
            <li><a class="logout" href="#">Se déconnecter</a></li>
        </ul>
    </nav>
</header>