<header>
    <a href="{{ path('home') }}">
        <img src="{{ asset('images/logo.png') }}" alt="Logo de la société Stubborn">
    </a>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="#">S'inscrire</a></li>
            <li><a href="#">Se connecter</a></li>
            <li><a href="#">Se déconnecter</a></li>
            <li><a href="#">Boutique</a></li>
            <li><a href="#">Panier</a></li>
            <li><a href="#">Back-Office</a></li>
        </ul>
    </nav>
</header>