header {
    background-color: lightgrey;
    display: flex;
}

img {
    width: 150px;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}