<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stubborn, don't compromise on your look</title>
        <meta name="description" content="Trouvez le sweat-shirt qui correspond à votre style unique. Votre look reflète votre personnalité, alors ne faites pas de compromis sur votre apparence.">
        <link rel="icon" href="{{ asset('favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/header.html.twig" %}
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            {% include "partials/footer.html.twig" %}
        {% endblock %}
    </body>
</html>