<section class="card-shop">
    <img class="card-shop__image" src="{{ asset('images/' ~ sweat.fileName ~ '.jpeg') }}" alt="">
    <div class="card-shop__group">
        <div class="card-shop__text">
            <p class="card-shop__name">Nom : {{ sweat.name }}</p>
            <p class="card-shop__price">Prix : {{ sweat.price }}€</p>
        </div>
        <a class="card-shop__link" href="#">Voir</a>
    </div>
</section>